@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap");

:root {
	--main-bg: #f2f2f2;
	--hightlight-color: #03a696;
	--darg-green: #025159;
	--heading: #636c6d;
	--white: #ffffff;
	--black: #000;
	--medium-green: #3d8a8b;
	--footer-color: #04747f;
	--border-radius-image: 5px;
	--padding-left-right: 0 20px;
	--main-padding: 10px 0 0 0;
	--padding-left: 20px;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: "PT sans", serif;
	background: var(--main-bg);
	font-size: 100%;
	height: auto;
}

p {
	font-family: "PT sans", serif;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	border-radius: var(--border-radius-image);
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 1.5fr 5.5fr 0.1fr;
	grid-template-areas:
		"nav"
		"hero"
		"main"
		"footer";

	grid-gap: 0.5rem;
}

nav {
	grid-area: nav;
}

.hero {
	grid-area: hero;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.hero h1 {
	width: 100%;
	color: var(--white);
	padding: 5px;
	font-family: "PT sans", serif;
	font-size: 100%;
	background-color: rgba(209, 248, 236, 0.4);
}

.hero .fab {
	color: var(--black);
}

main {
	background: var(--main-bg);
	grid-area: main;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	padding: var(--padding-left-right);
	max-width: 100%;
}

footer {
	background: var(--main-bg);
	grid-area: footer;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	max-width: 100%;
	max-height: 20%;
	margin: 0 auto;
}

footer a {
	color: var(--darg-green);
	text-align: center;
}

.social-share {
	width: 100%;
	display: block;
	text-align: right;
	padding-right: 10px;
}

.fab {
	padding: 2px;
	font-size: 70%;
}

.hero-img {
	width: 100%;
	height: 100px;
	background-position: center;
	background-size: cover;
}

.hero-img img {
	max-width: 100%;
	border-radius: var(--border-radius-image);
}

.heading-1 {
	font-family: "PT sans", serif;
	text-transform: uppercase;
}

main h2 {
	padding-top: 20px;
	font-family: "PT sans", serif;
	font-size: 120%;
}

main h4 {
	padding-bottom: 5px;
	font-family: "PT sans", serif;
	font-size: 100%;
	color: var(--heading);
}

/*Page content*/
.content-box {
	background-color: var(--white);
	padding: 10px 10px 20px 10px;
	border-radius: var(--border-radius-image);
	display: flex;
	flex-direction: column;
}

.text-box {
	width: 100%;
	padding: 10px 5px;
	line-height: 1.5rem;
	font-size: calc(100% + 1vw);
}

p {
	line-height: 1.5rem;
	padding: 10px 5px;
}

/* adjust for modal image---end*/

/* Comment Form*/

.comment-respond {
	font-family: "PT sans", serif;
	width: 250px;
}

.comment-respond form {
	width: 100%;
}

label,
.comments-note {
	font-family: "PT sans", serif;
}

input[type="text"],
input[type="email"],
textarea {
	max-width: 90%;
	padding: 5px 8px;
	border-radius: var(--border-radius-image);
	border: 1px solid #888;
	font-size: 100%;
	display: block;
}

p.comment-form-comment {
	max-width: 90%;
}

textarea {
	height: 100px;
}

.blocks-gallery-item__caption {
	width: 100%;
}

textarea {
	max-width: 100%;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border-color: #04747f 1px solid;
}

.submit {
	display: block;
	font-family: "PT sans", serif;
	max-width: 100%;
	background-color: var(--darg-green);
	color: var(--white);
	padding: 5px 10px;
	font-weight: 700;
	margin-bottom: 10px;
	text-align: right;
	font-size: 100%;
	border: none;
}

.comment-respond h3 {
	padding-top: 20px;
	color: var(--darg-green);
}

button {
	display: block;
	max-width: 100%;
	background-color: var(--darg-green);
	color: var(--white);
	padding: 8px 10px;
	text-align: right;
	margin: 20px auto;
	float: left;
	border: none;
	margin-left: 20px;
	font-size: 120%;
	cursor: pointer;
}

.hide-linkcomment {
	display: none;
	max-width: 300px;
	height: 4rem;
}

.comment-iframe {
	max-width: 90%;
	height: 2rem;
	border: 1px solid #000;
	background-color: #243f3c;
	color: #f5fafa;
	overflow: hidden;
}

/* WEB RESPONSIVE */
@media screen and (min-width: 375px) {
	.hero-img {
		height: 120px;
	}
	main h2 {
		font-size: 130%;
	}
	main {
		width: 375px;
	}
}

@media screen and (min-width: 414px) {
	.hero-img {
		height: 120px;
	}
	main h2 {
		font-size: 130%;
	}
	main {
		width: 414px;
	}
	.comment-respond {
		width: 320px;
	}
}

@media screen and (min-width: 500px) {
	.hero-img {
		height: 120px;
	}
}

@media screen and (min-width: 768px) {
	nav {
		padding: var(--padding-left-right);
		padding-top: 10px;
	}

	main {
		width: 768px;
	}

	.comment-respond {
		width: 760px;
		padding-bottom: 50px;
	}

	.comment-respond h3 {
		padding-top: 100px;
		color: var(--darg-green);
	}

	.comment-note p {
		font-size: 100%;
	}

	.hero-img {
		height: 200px;
	}

	.hero h1 {
		width: 100%;
		color: var(--white);
		padding: 10px;
		font-size: 180%;
	}

	.hero .fab {
		padding: 8px;
		margin-bottom: 20px;
		font-size: 130%;
	}

	.gallery-box {
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-between;
		padding-bottom: 60px;
	}

	.content-box {
		display: flex;
	}

	textarea {
		height: 150px;
	}

	main h2 {
		font-size: 170%;
	}

	p {
		line-height: 2.3rem;
		padding: 20px 5px;
		width: 700px;
		margin: 0 auto;
	}

	footer a {
		font-size: 120%;
	}
}

@media screen and (min-width: 834px) {
	.hero-img {
		height: 220px;
	}

	main {
		width: 95%;
	}

	main h2 {
		font-size: 200%;
		padding-left: 0px;
		width: 90%;
		margin: 0 auto;
	}

	main h4 {
		font-size: 120%;
		padding: 0;
		width: 80%;
		margin: 0 auto;
	}

	.content-box {
		background: var(--main-bg);
		width: 90%;
		margin: 0 auto;
	}

	.image img {
		height: 200px;
	}

	footer {
		justify-content: center;
		float: center;
	}

	footer a {
		font-size: 130%;
		text-align: center;
	}
}

@media screen and (min-width: 1024px) {
	main {
		margin: 0 auto;
		width: 90%;
		display: flex;
		flex-direction: column;
	}

	.image img {
		height: 240px;
	}

	main h2 {
		font-size: 200%;
		padding-left: 70px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}

	.content-box {
		width: 90%;
		margin: 0 auto;
	}

	.hero-img {
		height: 250px;
	}

	.hero h1 {
		font-size: 180%;
		color: black;
	}

	.hero .fab {
		padding: 10px;
		font-size: 150%;
	}

	p {
		line-height: 2.5rem;
		width: 780px;
	}

	footer a {
		font-size: 140%;
	}
}

@media screen and (min-width: 1280px) {
	.img-excepert {
		max-width: 70%;
	}

	main h2 {
		font-size: 200%;
		padding-left: 75px;
		width: 85%;
		margin: 0 auto;
		text-align: left;
	}

	main h4 {
		font-size: 120%;
		padding-left: 70px;
		width: 80%;
		margin: 0 auto;
	}

	.content-box {
		padding: 0;
	}

	p {
		width: 800px;
	}
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
	main {
		margin: 0 auto;
		width: 80%;
	}

	.image:first-child {
		order: 1;
		width: 40%;
		margin: 30px;
	}

	nav {
		padding-bottom: 20px;
	}

	.hero-img {
		height: 350px;
	}

	.hero .fab {
		padding: 10px;
		font-size: 180%;
	}

	main h2 {
		font-size: 250%;
		padding-left: 70px;
	}

	main h4 {
		font-size: 130%;
		padding-left: 60px;
	}

	.content-box {
		padding: 10px 60px;
		background-color: var(--main-bg);
	}

	p {
		width: 960px;
		align-content: center;
		line-height: 2.5rem;
		margin: 0;
	}

	textarea {
		height: 200px;
	}

	footer a {
		font-size: 150%;
	}
}
